postgresql:
  enabled: false
cloudnative-pg:
  enabled: false
backend:
  replicaCount: 1
  image:
    repository: ghcr.io/ccoupel/ansible-builder-backend
    tag: "1.15.0"
    pullPolicy: Always
  env:
    DATABASE_TYPE: "sqlite"
    SQLITE_DB_PATH: "/tmp/ansible_builder.db"
    SECRET_KEY: "changeme-in-production-sqlite-fallback"
    ALGORITHM: "HS256"
    ACCESS_TOKEN_EXPIRE_MINUTES: "1440"
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
autoscaling:
    enabled: false
frontend:
  replicaCount: 1
  image:
    tag: "1.15.0"
    pullPolicy: Always
ingress:
  className: "traefik"
  basePath: "/ansible-builder"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: coupel.net
      paths:
        - path: ''
          pathType: Prefix
          service: frontend
  tls:
    - secretName: ansible-builder-tls
      hosts:
        - coupel.net

